.food-logo {
    height: 50px;
    width: 50px;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem5 {
    color: #323f4b;
    font-family: "Roboto";
}

.banner-section-bg-container {
    height: 100vh;
    background-image: url("foodmunch-banner-bg.png");
    background-size: cover;
}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
}

.banner-caption {
    color: white;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.custom-button {
    background-image: linear-gradient(#d0b200, #a58d00);
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    border-width: 0px;
    height: 40px;
    width: 110px;
}

.custom-outline-button {
    background-color: white;
    color: rgb(243, 185, 11);
    border-color: rgb(243, 185, 11);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    height: 40px;
    width: 110px;
}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-section-heading {
    color: #183b56;
    font-weight: 600;
    font-size: 24px;
    font-family: "Roboto";
}

.wcu-section-description {
    font-family: "Roboto";
    font-size: 16px;
    color: #5a7184;
}

.wcu-card {
    background-color: #ffffff;
    text-align: center;
    border-radius: 16px;
    border-style: solid;
    border-color: #e5eaf4;
    border-width: 1px;
}

.wcu-card-image {
    height: 90px;
    width: 87px;
}

.wcu-card-heading {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.wcu-card-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.wcu-section-offers {
    color: #323f4b;
    font-weight: 600;
    font-style: italic;
}

.explore-menu-section {
    background-color: white;
}

.explore-menu-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
}

.menu-item-images {
    border-radius: 16px;
}

.menu-item-heading {
    color: #323f4b;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 500;
    margin-top: 24px;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
}

.menu-item-card {
    border-radius: 16px;

}

.healthy-food-section {
    background-color: white;
    font-family: "Roboto";
}

.healthy-food-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.healthy-food-section-img {
    width: 270px;
}

.delivery-and-payment-section-img {
    width: 270px;
}

.delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
  }

.thanking-customer-section {
    background-image: radial-gradient(#fff8db, #fae38c);

}

.thanking-customer-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.thanking-customer-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;   
}

.thanking-customers-section-modal-title {
    color: #d0b200;
    font-weight: 800;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}

.icon {
    color: #d0b200;
    font-size: 25px;
}

.follow-us-section-container {
    width: 80px;
    height: 80px;
    margin: 15px;
    background-color: #faf7e8;
    padding-top: 22px;
    padding-bottom: 24px;
    padding-right: 24px;
    padding-left: 22px;
    border-radius: 40px;
}